blinker==1.9.0
cachelib==0.17.0
click==8.5.0
Deprecated==1.3.1
ecdsa==0.19.2
Flask==3.1.3
Flask-Caching==2.5.0
Flask-Limiter==4.1.1
flask-marshmallow==1.5.0
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==4.3.1
marshmallow-sqlalchemy==1.5.0
mdurl==0.1.2
mysql-connector-python==26.7.0
ordered-set==4.1.0
packaging==26.3
pyasn1==0.6.4
Pygments==2.21.0
python-jose==3.5.0
rich==14.3.4
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
Werkzeug==3.1.8
wrapt==2.4.0
